* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.Bring-1 {
    display: flex;
    width: 100%;
    height: 100px;
    background: linear-gradient(135deg, #ff18ff, #d842c4, #e74c3c); 
    position: relative;
    z-index: 10;
}

.Bring {
    display: flex;
    align-items: center;
    padding-left: 4%;
    font-size:25px;
    box-shadow: 
      0 4px 15px rgba(0, 0, 0, 0.2),
      0 0 20px rgba(231, 76, 60, 0.6),
      inset 0 0 10px rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 10;

}


.Play {
  display: flex;
  width: 100%;
  height: 855px;
  justify-content: center;
  align-items: center;
}

.Play-icon {
  width: 150px; 
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff18ff, #d842c4, #e74c3c ); 
  box-shadow: 
      0 4px 15px rgba(0, 0, 0, 0.2),
      0 0 20px rgba(231, 76, 60, 0.6),
      inset 0 0 10px rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Play-button {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 40px solid white;
  transform: translateX(3px);
}

.email {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  margin-right: 60px;
}

.name {
  font-size: x-small;
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  margin-left: 400px;
  margin-right: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Bring-2 {
  display: flex;
}

body {
  background: linear-gradient(135deg, #ffffff , #d842c4  , #d842c4 , #d842c4 , #e74c3c);
}



